/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* Soak Up The Sun Script */
@font-face {
    font-family: "Soak Up The Sun Script";
    src: url("/font/Soak Up The Sun Script.otf") format("opentype");
}

/* Cafe24Oneprettynight */
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}