/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* Breathing */
@font-face {
    font-family: "Breathing";
    src: url("/font/Breathing.ttf") format("truetype");
}

/* Wonderful Branding */
@font-face {
    font-family: "Wonderful_Branding";
    src: url("/font/Wonderful_Branding.ttf") format("truetype");
}

